* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
/* body  */
html,
body {
  font-size: 10px;
}

/* Button  */
.btn {
  color: #fff;
  padding: 20px 25px;
  background-color: #ff900e;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 600;
}
/* share style Starts*/
.container {
  max-width: 1440px;
  margin: 0 auto;
}
/* Font Wight Style Sector */
.text700_wight {
  font-weight: 700;
}
.text600_wight {
  font-weight: 600;
}
.text500_wight {
  font-weight: 500;
}
/* Font Size Style Sector */
.text16-size {
  font-size: 1.6rem;
}
.text18-size {
  font-size: 1.8rem;
}
.text20-size {
  font-size: 2rem;
}
.text45-size {
  font-size: 4.5rem;
}
.text65-size {
  font-size: 65px;
}
/* Color Style Sector */
.white_col {
  color: #fff;
}
.crim_col {
  color: #fff4e7;
}
.black_col {
  color: #131313;
}
.gray_col {
  color: #424242;
}
.yellow_col {
  color: #ff900e;
}
.gray_light_col {
  color: #727272;
}
/* share style End */

/* Header style starts  */
/* Nav style starts  */
.head {
  background-color: rgba(255, 144, 14, 0.1);
}
.navigation {
  padding: 50px 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navigation ul {
  display: flex;
}
.navigation ul li {
  list-style: none;
  margin-left: 25px;
}
.navigation ul li a {
  color: #424242;
  text-decoration: none;
}
/* banner_container style starts  */
.banner_contant {
  text-align: center;
  margin: 0 auto;
  max-width: 860px;
  padding-bottom: 45px;
}
.banner_contant h3 {
  margin-bottom: 20px;
}
.banner_contant p {
  margin-bottom: 20px;
}
/* banner_container IMAGE style starts  */
.navigation-img {
  padding: 50px 10px;
}
.navigation-img img {
  border-radius: 10px;
  width: 100%;
}
/* Header style End  */
/* Main Style Starts Hare  */
/* Quick_list_of_Our_Features */
.Quick_list_of_Our_Features {
  margin: 85px 0 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.Quick_list_of_Our_Features-img img {
  width: 100%;
}
.Quick_list_of_Our_Features-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 24px;
  padding: 0 10px 50px;
}
.Quick_list_of_Our_Features-contant {
  padding: 0 10px;
}
.Quick_list_of_Our_Features-contant p {
  margin: 25px 0 30px;
}
/* Quick_list_of_Our_Features END */
/* Features SEction style Starts */
.features_container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
/* Features SEction style END */

/* Main Style END Hare  */

/* Media Screen 576px [MOBILE] style Starts  */
@media screen and (max-width: 570px) {
  html,
  body {
    font-size: 8px;
  }
  .navigation h2 {
    padding-bottom: 20px;
  }
  .banner_contant h3 {
    font-size: 5rem;
  }
  .banner_contant p {
    padding: 0 1rem;
  }
  .navigation,
  .Quick_list_of_Our_Features {
    flex-direction: column;
  }
}
/* Media Screen 576px style End  */
/* Media Screen 576px [MOBILE] style Starts  */

/* Media Screen 576px style End  */
